<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <group groupName="FXM" name="FXM">
        <pipelines>
          <content.experienceeditor>
            <processor type="Sitecore.FXM.Client.Pipelines.ExperienceEditor.ExternalPage.InjectControlsProcessor, Sitecore.FXM.Client">
              <patch:attribute name="type">Sitecore.Support.FXM.Client.Pipelines.ExperienceEditor.ExternalPage.InjectControlsProcessor,Sitecore.Support.189862</patch:attribute>
            </processor>
          </content.experienceeditor>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>